$gray-400: rgb(157 157 161);
$gray-400-op-300: rgba($gray-400, 0.3);
$gray-400-op-500: rgba($gray-400, 0.6);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  appearance: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: $gray-400-op-300;
}

::-webkit-scrollbar:vertical {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: $gray-400-op-500;
  border-radius: 2rem;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
